# Default ignored files
/shelf/
/workspace.xml

# Rider ignored files
/contentModel.xml
/.idea.Mixed-initiative-Tile-based-Designer.iml
/projectSettingsUpdater.xml
/modules.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

